/*
--background:#f0e8aa;
--background2:#d7e4a8;
--h1:#ea4c8c;
--h2:#DE5F19;
*/

/*basic*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

/*Kode til skrift*/

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 0.5vw;
    margin-left: 1vw;
    color: #ea4c8c;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

p {
    font-family: 'Roboto Mono', monospace;
    color: black;
    margin-bottom: 1vw;
}


span {
    font-family: 'Roboto Mono', monospace;
    color: black;
}

/*Grid kode med 2 colums der hver er 1 fr
4 rows med forskellige størrelser */

body {
    background-color: #efefef;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% 40% 15% 1fr 5%;
}

header {}

#overskrift h1 {
    margin-left: 0vw;
    text-align: center;
    margin-top: -4vw;
    font-size: 2em;

}

#overskrift h2 {
    text-align: center;
    margin-top: -1vw;
    margin-bottom: 0.1vw;
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
}




/*Navigation*/

nav a {
    font-family: 'Roboto Mono', monospace;
    font-size: 1vw;
    color: black;
    text-decoration: none;
    text-align: left;
    margin-left: 1.5vw;

}


.menu {
    list-style: none;
    text-align: left;
    margin: 0vw;
    display: flex;
}

/*mobil*/

.menubutton {
    width: 2em;
    height: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;
    z-index: 10;
    margin-top: 1vw;
    margin-left: 1vw;


}

.bar {
    width: 1.8em;
    height: 0.2em;
    background-color: black;
    transition: transform .5s;
}

.hidden {
    display: none;
    transform: translate();
}

.menu {
    list-style: none;
    text-align: left;
    margin-top: 0vw;
    display: block;
    font-size: 3vw;
}

/*burger menuen laves om til et kryds med fed animation
kryds 1 og 3 placeres og roteres og 3 forsvinder*/

.kryds .bar1 {
    transform: rotate(45deg) translate(8px, 7px);
}

.kryds .bar2 {
    opacity: 0;
}

.kryds .bar3 {
    transform: rotate(-45deg) translate(8px, -7px);
}

nav {
    background-color: rgba(255, 255, 255, 0.24);
    width: 100%;
    transform: translate(0);
    transform-origin: top;
    transition: transform 5s;
    z-index: 11;
}



/*her placere jeg logoet på mit splash billede og fjerne liste stilen*/

#splash .logo img {
    width: 15vw;
    height: 15vw;
    right: -9px;
    top: 15px;
    transform: rotate(20deg);
    position: absolute;

}

#splash .logo li {

    list-style-type: none;
}


/*Her bestemmer jeg størrelsen på mit splash billede*/

#splash picture img {
    height: auto;
    width: 100vw;

}

#splash {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    position: relative;
}

/*Her styler jeg min anden menulinje til mine retter*/

#menulinje {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
}

#menulinje nav {
    background-color: #b5b5b5;
}

#menulinje button {
    height: 30px;
    width: auto;
    background-color: #b2b2b2;
    border: none;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 15px;
}

/* Css til modal vindue*/

#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
    display: none;
}

#modal button {
    height: 25px;
    width: 60px;
    background-color: white;
    margin-top: 1vw;
    font-family: 'Roboto Slab', serif;
}

#modal-content {
    width: 70vw;
    height: 70vh;
    background-color: rgba(222, 95, 25, 0.85);
    margin: auto;
}


.modal-billede {
    height: 40vh;

    object-fit: scale-down;
}


#modal.vis {
    opacity: 1;
    pointer-events: all;
    display: block;
}

/* her laver jeg css til hvordan mine retter de skal styles*/

.ret-display {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;

    background-image: url(billeder/bagrund.png);
}



@media screen and (min-width: 830px) {
    .ret-display {
        grid-template-columns: repeat(3, 1fr);
    }

}


.ret-display p {
    margin-left: 20px;

}

.ret-display p:hover {
    font-family: 'Roboto Mono', monospace;
    color: white;
    margin-bottom: 1vw;
}

.ret-display h2 {
    margin-left: 20px;

}

footer {
    background-color: #efefef;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
}

.informationer {
    text-align: center;
}

footer h1 {
    font-size: 1.2em;
    margin: 0.5vw;
    text-align: center;
}

footer p {
    font-size: 0.7em;
    margin: 0.5vw;
    text-align: center;
}
