/*
--background:#f0e8aa;
--background2:#d7e4a8;
--h1:#ea4c8c;
--h2:#DE5F19;
*/

/*basic*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

#menu_tekst {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 3em;
    color: #ea4c8c;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

p {
    font-family: 'Roboto Mono', monospace;
    color: black;
    margin-bottom: 1vw;
}

span {
    font-family: 'Roboto Mono', monospace;
    color: black;
}



body {
    background-color: #f0e8aa;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 40% 15% 1fr;
}

header {}


.logo {
    width: 20vh;
    height: 20vh;
    margin-left: 3vw;
    margin-top: -6.5vw;
    position: relative;
    left: 20px;

}

.logo li {

    list-style-type: none;
}

/*Navigation*/

nav a {
    font-family: 'Roboto Mono', monospace;
    font-size: 1vw;
    color: black;
    text-decoration: none;
    text-align: left;
    margin-left: 1.5vw;

}


.menu {
    list-style: none;
    text-align: left;
    margin: 0vw;
    display: flex;
}

/*mobil*/

.menubutton {
    width: 2em;
    height: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;
    z-index: 10;
}

.bar {
    width: 1.8em;
    height: 0.2em;
    background-color: black;
    transition: transform .5s;
}

.hidden {
    display: none;
    transform: translate();
}

.menu {
    list-style: none;
    text-align: left;
    margin-top: 0vw;
    display: block;
    font-size: 3vw;
}

/*burger menuen laves om til et kryds med fed animation
kryds 1 og 3 placeres og roteres og 3 forsvinder*/

.kryds .bar1 {
    transform: rotate(45deg) translate(8px, 7px);
}

.kryds .bar2 {
    opacity: 0;
}

.kryds .bar3 {
    transform: rotate(-45deg) translate(8px, -7px);
}

nav {
    background-color: rgba(255, 255, 255, 0.24);
    width: 100%;
    transform: translate(0);
    transform-origin: top;
    transition: transform 5s;
}



#splash img {
    height: 75vw;
    width: 100vw;
    z-index: 10;
}

#splash {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}

#menulinje {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
}

#menulinje nav {
    background-color: #d7e4a8;
}

#menulinje button {
    height: 30px;
    width: auto;
    background-color: rgb(217, 227, 181);
    border: none;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 15px;
}


/* Css til modal vindue*/

#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
    display: none;
}

#modal-content {
    width: 70vw;
    height: 70vh;
    background-color: #DE5F19;
    margin: auto;
}


.modal-billede {
    height: 35vh;
    object-fit: scale-down;
}

#modal.vis {
    opacity: 1;
    pointer-events: all;
    display: block;
}

.ret-display {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;

    grid-template-columns: repeat(3, 1fr);
}

.ret-display p {
    margin-left: 20px;
}

.ret-display h2 {
    margin-left: 20px;
}


#om-billeder {
    width: 2vw;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
}
